.about-company-block {
  padding: 0 15.63vw;
  .navigation {
    display: flex;
    padding-top: 139px;

    .one-nav {
      cursor: pointer;
      background-color: #fff;
      color: #474747;
      font-size: 16px;
      border: 1px solid #9a9a9a;
      border-radius: 10px;
      padding: 8px 16px;
      font-weight: 400;
      margin-right: 16px;
    }
  }
  .advantages {
    margin-top: 56px;
    display: flex;

    .one-adv {
      background-color: #f6f6f6;
      width: 22.08vw;
      height: 229px;
      border-radius: 10px;
      margin-right: 24px;
      padding: 24px;

      .gradient-line {
        width: 88px;
        height: 4px;
        margin-top: 16px;
      }

      .text-block {
        margin-top: 16px;
        display: flex;

        h2 {
          font-size: 16px;
          font-weight: 400;
        }
        h3 {
          font-size: 16px;
          margin-left: 8px;
          font-weight: 400;
          text-transform: uppercase;
          width: 12.6vw;
        }
      }
    }
  }
  .services {
    margin-top: 64px;
    .nav-services {
      .regular {
        background-color: #fff;
        border: 1px solid #9a9a9a;
        border-radius: 10px;
        padding: 8px 16px;
        color: #474747;
        margin-right: 16px;
      }
      .clicked {
        border: none;
        background-color: #4766af;
        color: #fff;
      }
    }
  }
  .team {
    margin-top: 64px;

    .team-header {
      .gradient-line {
        width: 88px;
        height: 4px;
      }
      h1 {
        color: #474747;
        font-size: 20px;
        text-transform: uppercase;
      }
    }

    .team-common {
      margin-top: 48px;
      display: flex;
      .boss {
        h2 {
          font-size: 24px;
          font-weight: 400;
          color: #4766af;
          margin: 0;
          margin-top: 16px;
        }
        h3 {
          font-size: 20px;
          font-weight: 400;
          color: #4766af;
          margin: 0;
          margin-top: 8px;
        }

        .boss-info {
          margin-top: 24px;

          p {
            font-size: 16px;
            color: #474747;
            margin: 0;
            margin-bottom: 16px;
            width: 22.1vw;
          }
        }
      }
      .workers {
        margin-left: 7.14vw;
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
  .structure {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    .structure-header {
      .gradient-line {
        width: 88px;
        height: 4px;
      }
      h1 {
        font-size: 20px;
        color: #474747;
      }
    }
    .control {
      align-self: center;
      width: 45.42vw;
      height: 308px;
      padding: 48px 28px;
      background-color: #f6f6f6;
      border-radius: 27px;
      h2 {
        font-size: 20px;
        color: #474747;
        text-transform: uppercase;
      }

      .control-workers {
        padding: 48px 56px;
        display: flex;

        hr {
          width: 16px;
          height: 124px;
          opacity: 0;
        }
      }
    }
    .divider-arrow {
      margin-top: 16px;
      .up {
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          height: 48px;
          width: 1px;
          background-color: #cccccc;
        }
      }
      .down {
        display: flex;
        span {
          height: 36px;
          width: 68.75vw;
          border: 1px solid #cccccc;
          border-bottom: none;
          border-radius: 10px 10px 0 0;
        }
      }
    }
  }

  .page-arrows {
    margin-top: 40px;
    margin-bottom: 72px;
  }
}

@media only screen and (max-width: 1800px) {
  .about-company-block {
    padding: 0 12vw;
    .advantages {
      .one-adv {
        height: 278px;
      }
    }

    .structure {
      .control {
        .control-workers {
          padding: 24px 32px;
          hr {
            width: 64px;
          }
        }
      }
      .divider-arrow {
        .down {
          span {
            width: 75vw;
          }
        }
      }
    }
  }
}
