.new-employee-block {
  display: flex;
  gap: 24px;
  flex-direction: column;
  height: 524px;
  .download-block {
    height: 250px;
  }
  .create {
    width: 33.75vw;
    height: 250px;
    .background {
      position: absolute;

      .h-white {
        position: absolute;
        display: flex;
        width: 25.31vw;
        height: 248px;
        background-color: #46bed6;
        z-index: 3;
        border-radius: 20px 50px 20px 20px;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 0 24px 40px;

        .title {
          h1 {
            font-size: 24px;
            color: #fff;
            text-transform: uppercase;
            margin: 0;
            width: 16.9vw;
          }
        }

        .buttons {
          margin-top: 16px;
          button {
            width: 24.06vw;
            height: 56px;
            background-color: #fff;
            border: none;
            border-radius: 10px;
            margin-right: 8px;
            color: #4766af;
          }
        }
      }
      .w-white {
        margin-top: 134px;
        position: absolute;
        display: flex;
        width: 33.75vw;
        height: 114px;
        background-color: #46bed6;
        z-index: 2;
        border-radius: 20px 50px 20px 20px;
      }
      .full-bg {
        overflow: hidden;
        width: 33.75vw;
        height: 248px;
        display: flex;
        position: absolute;
        background-color: #46bed6;
        z-index: 1;
        border-radius: 50px;
        align-items: flex-start;
        justify-content: flex-end;

        .close-button {
          width: 5.57vw;
          height: 5.57vw;
          margin-right: 16px;
          margin-top: 0px;
          border-radius: 50%;
          display: flex;
          z-index: 2;
          background: url(/icons/people-white.svg) no-repeat;
          background-position: 50%;
          background-color: #46bed6;
        }
        .bg-button {
          width: 10.78vw;
          height: 179px;
          background-color: #fff;
          position: absolute;
          z-index: 0;
          border-radius: 58px;
          margin-top: -45px;
          margin-right: -2.34vw;
        }
        .bg-w {
          width: 150px;
          height: 55px;
          background-color: #fff;
          position: absolute;
          margin-right: 100px;
        }
        .bg-h {
          margin-top: 100px;
          width: 55px;
          height: 150px;
          background-color: #fff;
          position: absolute;
        }
      }
    }
  }
}

@media only screen and (max-width: 1700px) {
  .new-employee-block {
    .create {
      .background {
        .w-white {
          margin-top: 100.5px;
          height: 147.75px;
        }
        .full-bg {
          .bg-button {
            height: 145.25px;
            border-radius: 40px;
          }
        }
      }
    }
  }
}
