.news-common {
  padding: 123px 33.13vw 72px 27.29vw;

  .news-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .about-news {
      display: flex;
      align-items: center;

      .hashtag {
        font-size: 16px;
        color: #9a9a9a;
        border: 1px solid #9a9a9a;
        border-radius: 10px;
        margin: 0;
        padding: 4px 4px;
      }
      .time {
        margin: 0;
        margin-left: 8px;
        font-size: 16px;
        color: #9a9a9a;
      }
    }
    .views {
      display: flex;
      align-items: center;
      color: #9a9a9a;
      font-size: 16px;

      img {
        margin-right: 4px;
      }
    }
  }

  .news-body {
    margin-top: 16px;
    .news-title {
      font-size: 20px;
      color: #4766af;
      margin: 0;
    }

    .regular-text {
      margin: 0;
      margin-top: 16px;
      font-size: 16px;
      color: #474747;
    }
  }
  .likes {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 16px;
    margin-bottom: 8px;

    .like-button {
      background-color: #fff;
      border: 1px solid #9a9a9a;
      border-radius: 10px;
      height: 36px;
    }
    .horisontal-line {
      width: 1px;
      height: 36px;
      margin: 0 15px;
      background-color: #9a9a9a;
    }
    .see-more {
      height: 36px;
      background-color: #fff;
      border: none;
      display: flex;
      align-items: flex-end;
      opacity: 50%;
    }
  }
  .comments {
    display: flex;
    flex-direction: column;
    .count {
      h2 {
        font-size: 16px;
        color: #474747;
      }
    }
    .write {
      margin-top: 24px;
      display: flex;
      img {
        width: 40px;
        height: 40px;
        border: 1px solid #cccccc;
        border-radius: 50%;
      }

      input {
        margin-left: 8px;
        resize: none;
        height: 40px;
        width: 37.08vw;
        border: none;
        border-bottom: 1px solid #e1e1e1;
        padding: 8px 0px;
      }
    }
    .send-comment-button {
      align-self: flex-end;

      button {
        margin-top: 8px;
        border: 0;
        border-radius: 10px;
        width: max-content;
        padding: 0 16px;
        height: 40px;
        background: linear-gradient(to right, #4766af, #46bed6);
        color: #fff;
        font-size: 16px;
      }
    }
    .comments-common {
      margin-top: 24px;
      .one-comment {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        img {
          width: 40px;
          height: 40px;
          border: 1px solid #cccccc;
          border-radius: 50%;
        }
        div {
          margin-left: 8px;
          width: 37.08vw;

          p {
            margin: 0;
            font-size: 13px;
            color: #9a9a9a;
          }

          h4 {
            font-size: 16px;
            font-weight: 400;
            height: max-content;
            color: #474747;
          }
        }
      }
    }
  }
}
