.privilege-block {
  .privilege-header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 24px;

    button {
      background-color: transparent;
      border: none;
      height: 55px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 153px;
    }

    h3 {
      background: linear-gradient(to right bottom, #4766af, #46bed6);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      margin: 0;
    }

    .gradient-line {
      height: 6px;
    }
  }
  .privilege-footer {
    display: flex;
    flex-direction: column;
    margin-top: 48px;

    .hidden {
      display: none !important;
    }

    .info {
      display: flex;
      flex-direction: column;
      button {
        padding: 6px 32px;
        width: fit-content;
        align-self: center;
        background-color: #ffffff;
        border: 1px solid #4766af;
        border-radius: 8px;
        color: #4766af;
        transition: 0.4s;
      }
      button:hover {
        background-color: #4766af;
        color: #ffffff;
      }

      img {
        width: 50%;
      }

      a {
        color: #474747;
      }
    }
  }
}
