.gradient-line {
  height: 13px;
  width: 153px;
  background: linear-gradient(to right, #4768b0, #46bed6);
}

.reaction-block {
  height: 35px;
  width: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  margin-right: 8px;

  &.user-reacted-true {
    background: #e1e1e1;
  }

  img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }

  b {
    color: #4766af;
    font-size: 16px;
    font-weight: 500;
  }
}
