.main-page-block {
  .left-block {
    .our-blog {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      .our-blog-header {
        cursor: pointer;
        height: 40px;
        width: 14.17vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #4766af;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        margin-bottom: 16px;
      }
      .blog-common {
        .one-blog {
          cursor: pointer;
          margin-top: 8px;
          width: 14.17vw;
          height: 72px;
          border: 1px solid #9a9a9a;
          transition: 0.2s;
          border-radius: 19px;
          display: flex;
          align-items: center;
          justify-content: center;

          .blog-author-image {
            width: 2.9vw;
            height: 2.9vw;
            border: 0.5px solid #9a9a9a;
            border-radius: 50%;
          }
          .blog-info {
            width: 9.58vw;
            margin-left: 8px;
            .blog-name {
              font-size: 16px;
              margin: 0;
              word-break: break-all;
            }
            .blog-author {
              font-size: 16px;
              margin: 0;
              color: #9a9a9a;
            }
          }
        }
        .one-blog:hover {
          border: 1px solid #4766af;
        }
      }
      .all-blogs-link {
        align-self: flex-end;
        color: #4766af;
        font-weight: 500;
        cursor: pointer;
        margin-top: 16px;
        border-bottom: 1px solid #fff;
        transition: 0.2s;
      }
      .all-blogs-link:hover {
        border-bottom: 1px solid #4766af;
      }
    }
  }
}

@media only screen and (max-width: 1800px) {
  .main-page-block {
    .left-block {
      .our-blog {
        .our-blog-header {
          width: 19.17vw;
        }

        .blog-common {
          .one-blog {
            width: 19.17vw;

            .blog-info {
              width: 12.5vw;

              .blog-author {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
