.right-block-birthday {
  width: 13.33vw;
  border: 1px solid #9a9a9a;
  border-radius: 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.87vw;
  height: max-content;
  .today {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    .congrats {
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        font-size: 20px;
        width: 9.4vw;
      }
      .todays-date {
        width: 9.4vw;
        h4 {
          font-size: 20px;
          color: #4766af;
        }
        p {
          position: absolute;
          margin-top: -32px;
          margin-left: 80px;
          padding: 0 10px;
          border: 1px solid #46bed6;
          border-radius: 22px;
          color: #4766af;
        }
      }
      .who {
        display: flex;
        flex-direction: column;
        align-items: center;
        .happy-bd-to {
          margin-top: 32px;
          display: flex;
          flex-direction: column;
          align-items: center;
          .image-of-hbd {
            width: 2.9vw;
            height: 2.9vw;
            border: 1px solid #9a9a9a;
            border-radius: 50%;
          }
          .name-of-hbd {
            font-size: 16px;
            margin-bottom: 0;
            margin-top: 8px;
          }
          .job-title-of-hbd {
            font-size: 16px;
            margin-top: 0;
          }
        }
      }
      .congratulations-button {
        height: 35px;
        width: 8.44vw;
        background-color: #4766af;
        color: #fff;
        border: none;
        border-radius: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 32px;
        img {
          margin-right: 8px;
        }
      }
    }
  }
  .border {
    background-color: #9a9a9a;
    width: 13.34vw;
    height: 2px;
    opacity: 100%;
    margin-bottom: 0;
  }
  .next-week {
    margin-top: 24px;
    .other-hbd {
      font-size: 20px;
      color: #4766af;
      margin-top: 0;
      margin-bottom: 24px;
    }
    .other-hbd-common {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 32px;
      .date {
        border-radius: 22px;
        background-color: #dfdfdf;
        color: #fff;
        font-size: 16px;
        padding: 0 8px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      .name-of-other-hbd {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 4px;
      }
      .job-title-of-other-hbd {
        font-size: 16px;
        font-weight: 300;
        width: 9.8vw;
        margin-bottom: 0;
      }
    }
  }
}

@media only screen and (max-width: 1800px) {
  .right-block-birthday {
    width: 19.17vw;

    .today {
      .congrats {
        h3 {
          width: max-content;
        }
        .todays-date {
          width: 13vw;
        }
        .congratulations-button {
          width: 12.5vw;
        }
      }
    }
    .border {
      width: 100%;
    }
    .next-week {
      .other-hbd-common {
        .job-title-of-other-hbd {
          width: max-content;
        }
      }
    }
  }
}
