.main-news-block {
  .gradient-line {
    width: 88px;
    height: 8px;
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 8px;
    margin-bottom: 30px;
  }
  .one-news {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    border-bottom: 1px solid #9a9a9a;
    width: 36.2vw;

    .news-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .about-news {
        display: flex;
        align-items: center;

        .hashtag {
          font-size: 16px;
          color: #9a9a9a;
          border: 1px solid #9a9a9a;
          border-radius: 10px;
          margin: 0;
          padding: 4px 4px;
        }
        .time {
          margin: 0;
          margin-left: 8px;
          font-size: 16px;
          color: #9a9a9a;
        }
      }
      .views {
        display: flex;
        align-items: center;
        color: #9a9a9a;
        font-size: 16px;

        img {
          margin-right: 4px;
        }
      }
    }
    .news-body {
      cursor: pointer;
      .news-title {
        margin-top: 16px;

        h2 {
          color: #4766af;
          font-size: 24px;
          margin-bottom: 0;
        }
      }
      .news-info {
        margin-top: 16px;

        p {
          color: #474747;
          font-size: 16px;
          width: 34.7vw;
          margin-bottom: 0;
        }
      }
    }
    .likes {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 16px;
      margin-bottom: 8px;

      .like-button {
        background-color: #fff;
        border: 1px solid #9a9a9a;
        border-radius: 10px;
        height: 36px;
      }
      .horisontal-line {
        width: 1px;
        height: 36px;
        margin: 0 15px;
        background-color: #9a9a9a;
      }
      .see-more {
        height: 36px;
        background-color: #fff;
        border: none;
        display: flex;
        align-items: flex-end;
        opacity: 50%;
      }
    }
  }
}

@media only screen and (max-width: 1800px) {
  .main-page-block {
    padding: 100px 5vw 50px 5vw;
    .left-block {
      width: 19.17vw;
      display: flex;
      flex-direction: column;
    }
    .middle-block {
      width: 49vw;
      .news {
        .one-news {
          width: 47.15vw;
        }
      }
    }
  }
}
