.education-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  .education-common {
    width: 539px;
    height: 542px;
    .background {
      position: absolute;

      .h-white {
        position: absolute;
        display: flex;
        width: 484px;
        height: 373px;
        background-color: #ffffff;
        z-index: 13;
        border-radius: 27px;
        flex-direction: column;
        padding: 24px 0 24px 56px;

        .title {
          border: 1px solid #d6d6d6;
          border-radius: 7px;
          display: flex;
          align-items: center;
          color: #4766af;
          font-size: 16px;
          font-weight: 500;
          padding: 8px;
          width: max-content;

          img {
            margin-right: 4px;
          }
        }

        .choose-dropdown {
          .dropdown-title {
            cursor: pointer;
            margin-top: 24px;
            width: 427px;
            height: 35px;
            background-color: #4766af;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            position: absolute;
            z-index: 20;

            h2 {
              font-size: 16px;
              font-weight: 400;
              margin: 0;
              color: #fff;
            }

            img {
              margin-left: 8px;
            }
          }
          .closed {
            display: none !important;
          }
          .dropdown-common {
            margin-top: 32px;
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 427px;
            height: 197px;
            background-color: #fff;
            overflow: scroll;
            border: 1px solid #e1e1e1;
            border-radius: 19px;
            padding: 43px 16px 10px 16px;
            z-index: 19;
            box-shadow:
              0 4px 8px 0 rgba(0, 0, 0, 0.1),
              0 6px 20px 0 rgba(0, 0, 0, 0.1);

            p {
              cursor: pointer;
              font-size: 14px;
              margin-bottom: 16px;
            }
            p:hover {
              color: #4766af;
            }
          }
        }
        .chosen {
          display: none;
        }

        .text {
          textarea {
            margin-top: 83px;
            width: 427px;
            height: 138px;
            resize: none;
            border: 1px solid #d6d6d6;
            border-radius: 17px;
            padding: 16px;
          }
        }

        button {
          margin-top: 15px;
          width: 427px;
          height: 40px;
          border: none;
          border-radius: 10px;
          color: #fff;
          font-size: 16px;
          font-weight: 400;
          background: linear-gradient(to right, #4766af, #46bed6);
        }
      }
      .w-white {
        margin-top: 55px;
        position: absolute;
        display: flex;
        width: 539px;
        height: 318px;
        background-color: #ffffff;
        z-index: 12;
        border-radius: 27px;
      }
      .full-bg {
        overflow: hidden;
        width: 539px;
        height: 373px;
        display: flex;
        position: absolute;
        background-color: #ffffff;
        z-index: 11;
        border-radius: 27px;
        align-items: flex-start;
        justify-content: flex-end;

        .close-button {
          cursor: pointer;
          width: 40px;
          height: 40px;
          background: url(/img/cabinet/icons/cross-white.svg) no-repeat;
          background-position: 50%;
          background-color: #4766af;
          margin-right: 2px;
          margin-top: 2px;
          border-radius: 50%;
          display: flex;
          z-index: 12;
        }
        .bg-button {
          width: 100px;
          height: 100px;
          background-color: rgba(0, 0, 0, 0.5);
          background-blend-mode: normal;
          position: absolute;
          z-index: 9;
          border-radius: 20px;
          margin-top: -45px;
          margin-right: -45px;
        }
        .bg-w {
          width: 100px;
          height: 25px;
          background-color: rgba(0, 0, 0, 0.5);
          position: absolute;
          background-blend-mode: normal;
          margin-right: 55px;
        }
        .bg-h {
          margin-top: 55px;
          width: 25px;
          height: 100px;
          background-color: rgba(0, 0, 0, 0.5);
          position: absolute;
        }
      }
    }
  }
  .extended {
    .background {
      .h-white {
        height: 542px;

        .chosen {
          display: flex;
          flex-direction: column;
          margin-top: 83px;
          .chosen-lesson-title {
            display: flex;

            p {
              font-size: 14px;
              color: #474747;
            }
            .lesson-title {
              color: #4766af;
              margin-left: 8px;
              border: 1px solid #4766af;
              border-radius: 7px;
              padding: 0 8px;
            }
          }
          .chosen-lesson-date {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            p {
              font-size: 14px;
              color: #474747;
              text-wrap: wrap;
              margin: 0;
              margin-bottom: 16px;
            }
            .one-date {
              cursor: pointer;
              width: 85px;
              text-wrap: wrap;
              margin-left: 8px;
              padding: 0px 8px;
              border: 1px solid #d6d6d6;
              border-radius: 10px;
            }
            .one-date-chosed {
              border: 1px solid #4766af;
            }
          }
        }

        .text {
          textarea {
            margin-top: 0;
          }
        }
      }
      .w-white {
        height: 487px;
      }
    }
  }
}

@media only screen and (max-width: 1800px) {
  .education-modal {
    zoom: 0.9;
  }
}
