.job-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  .job-common {
    width: 656px;
    height: 283px;
    .background {
      position: absolute;
      .h-white {
        position: absolute;
        display: flex;
        width: 601px;
        height: 283px;
        background-color: #ffffff;
        z-index: 13;
        border-radius: 27px;
        flex-direction: column;
        padding: 32px 0 32px 40px;

        .title {
          width: max-content;
          color: #4766af;
          border: 1px solid #d6d6d6;
          border-radius: 7px;
          padding: 8px;
          font-weight: 500;
          display: flex;
          align-items: center;

          img {
            margin-right: 4px;
          }
        }
        .dates {
          display: flex;
          margin-top: 24px;
          .calendar {
            width: 284px;
            input {
              width: 284px;
            }
            .closed {
              img {
                margin-left: 244px;
              }
            }
          }
          .start {
            width: 284px;
            h3 {
              font-size: 16px;
              font-weight: 400;
              color: #9a9a9a;
            }
          }
          .end {
            margin-left: 8px;
            width: 284px;
            h3 {
              font-size: 16px;
              font-weight: 400;
              color: #9a9a9a;
            }
          }
        }

        button {
          margin-top: 32px;
          width: 576px;
          height: 40px;
          background: linear-gradient(to right, #4766af, #46bed6);
          border: none;
          border-radius: 10px;
          color: #ffffff;
          font-size: 16px;
        }
      }
      .w-white {
        margin-top: 55px;
        position: absolute;
        display: flex;
        width: 656px;
        height: 229px;
        background-color: #ffffff;
        z-index: 12;
        border-radius: 27px;
      }
      .full-bg {
        overflow: hidden;
        width: 656px;
        height: 283px;
        display: flex;
        position: absolute;
        background-color: #ffffff;
        z-index: 11;
        border-radius: 27px;
        align-items: flex-start;
        justify-content: flex-end;

        .close-button {
          cursor: pointer;
          width: 40px;
          height: 40px;
          background: url(/img/cabinet/icons/cross-white.svg) no-repeat;
          background-position: 50%;
          background-color: #4766af;
          margin-right: 2px;
          margin-top: 2px;
          border-radius: 50%;
          display: flex;
          z-index: 12;
        }
        .bg-button {
          width: 100px;
          height: 100px;
          background-color: rgba(0, 0, 0, 0.5);

          position: absolute;
          z-index: 9;
          border-radius: 20px;
          margin-top: -45px;
          margin-right: -45px;
        }
        .bg-w {
          width: 100px;
          height: 25px;
          background-color: rgba(0, 0, 0, 0.5);
          position: absolute;

          margin-right: 55px;
        }
        .bg-h {
          margin-top: 55px;
          width: 25px;
          height: 100px;
          background-color: rgba(0, 0, 0, 0.5);
          position: absolute;
        }
      }
    }
  }
}

@media only screen and (max-width: 1800px) {
  .job-modal {
    zoom: 0.9;
    .job-common {
      .background {
      }
    }
  }
}
